<main class="homepage-background">
	<div class="homepage-searchbar">
		<button type="button" id="search-button-home"><i class="fas fa-search"></i> SEARCH RECIPE </button>
	</div>
</main>
</header>
